<div class="activity-item">
    <div class="activity-meta">
    <span class="activity-user"><%= activity.user.fullname %></span>
    <span class="activity-time"><%= time_ago_in_words(activity.created_at) %> ago</span>
    </div>
    
    <% if activity.activity_type == 'comment' %>
    <div class="activity-comment">
        <%= simple_format(activity.content) %>
    </div>
    <% else %>
    <div class="activity-status-change">
        Changed status: <%= activity.status_change %>
    </div>
    <% end %>
</div>