<div class="card-header bg-primary text-white">
  <h1>Edit Projects</h1>
</div>

<div class="card-body">
  <div class="row mb-3">
      <%= link_to "Back to Project", project_path(@project) %>
  </div>

    <%= render 'form', project: @project %>
</div>
